<html>

<head>
  <link rel="stylesheet" href="styles/popup.css">
</head>

<body>
  <div class="title">
    Choose Slicers
  </div>
  <div class="container">
    <div class="slicer">OrcaSlicer</div>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="container">
    <div class="slicer">PrusaSlicer</div>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="container">
    <div class="slicer">Ultimaker Cura</div>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="container">
    <div class="slicer">Bambu Studio</div>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
</body>

</html>
