.to-slicer-container {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    position: sticky;
    bottom: 30px;
    margin-right: 30px;
}

.to-slicer-button {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.to-slicer-tooltip {
  position: relative;
  display: inline-block;
}

.to-slicer-tooltip .to-slicer-tooltip-text {
  visibility:hidden;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;

  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.to-slicer-tooltip:hover .to-slicer-tooltip-text {
  visibility: visible;
  opacity:1;
}
