name: Upload tag to Github Release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  build:
    name: Publish zip
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Zip extension
      run: zip -r to-slicer.zip icons/ src/ manifest.json
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@b98a3b12e86552593f3e4e577ca8a62aa2f3f22b # v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: to-slicer.zip
        asset_name: to-slicer.zip
        tag: ${{ github.ref }}
        overwrite: true
        body: "Latest 'Github to slicer' extension version"
